<template>
    <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="thumbnail">
            <div class="caption"><h4>{{ propertyData.name }}</h4>
                <p>
                    Bedrooms: {{ propertyData.bedrooms }}
                    Bathrooms: {{ propertyData.bathrooms }}
                    Storeys: {{ propertyData.storeys }}
                    Garages: {{ propertyData.garages }}
                </p>
                <p><span class="badge">${{ propertyData.price }}</span></p>
                <p><a href="#" class="btn btn-success btn-sm" role="button">Book it</a> </p></div>
        </div>
    </div>
</template>

<script>
    export default {
        props: [
            'propertyData'
        ]
    }
</script>
