<template>
    <div class="container">

        <notifications group="searchBlockNotification" />

        <div class="page-header">
            <search-form :formData="requestData"
                         :commoditiesFields="commoditiesFields"
                         @searchFormWasSubmitted="sendRequest()"
                         :requestWasExecuted="requestWasExecuted"></search-form>
        </div>

        <div class="">
            <search-results :propertiesList="list" :requestWasExecuted="requestWasExecuted"></search-results>
        </div>

    </div>
</template>

<script>

    import SearchForm from './SearchForm.vue';
    import SearchResults from './SearchResults.vue';

    export default {

        components: {
            searchForm: SearchForm,
            searchResults: SearchResults,
        },

        data(){
            return {
                requestData : {
                    name: '',
                    price_from: 10,
                    price_to: null,
                    commodities : {},
                    additionalFilters: false,
                },
                commoditiesFields : [],
                currentPage: null,
                list: null,
                requestWasExecuted: null,
                meta: null
            }
        },

        created() {

            this.getFormSettings();
        },

        methods: {

            sendRequest()
            {
                this.clearErrors();

                this.requestWasExecuted = false;

                // In case of formData.additionalFilters set to false (checkbox is not set)
                // commodities fields should be ignored
                // Let us switch checkbox without immediate consequences, but if posted w/o
                // checkbox set, all additional fields will be cleared

                if (!this.requestData.additionalFilters) {
                    this.requestData.commodities = {};
                }

                axios.post('/api/search', this.requestData)
                    .then( res => {

                        if (res.data.status) {

                            this.list = res.data.data;
                            this.requestWasExecuted = true;

                        } else {
                            // TODO: error notification on bad request
                            this.requestWasExecuted = true;
                            this.list = [];

                            this.notifyErrors(res.data.errors);
                        }

                    })
                    .catch(error =>   {
                        console.log(error);
                        this.requestWasExecuted = true;
                        this.list = [];

                        console.log(error.response);
                        this.notifyErrors(error.response.data.errors);
                    })




                ;
            },
            getFormSettings()
            {
                axios.get('/api/get_search_form_data')
                    .then( res => {

                        if (res.data.status) {

                            this.requestData.price_from = res.data.data.price_from;
                            this.requestData.price_to = res.data.data.price_to;
                            this.commoditiesFields = res.data.data.commoditiesFields;

                        } else {
                            // TODO: error notification on bad request

                            console.log(res);
                        }
                    })
                    .catch(error => console.log(error))
                ;
            },

            notifyErrors(errors)
            {
                var that = this;

                $.each(errors, function(key, values) {
                    values.forEach(function(value) {

                        that.$notify({
                            group: 'searchBlockNotification',
                            type: 'error',
                            duration: 10000,
                            title: 'Error',
                            text: value
                        });
                    });
                });
            },

            clearErrors()
            {
                this.$notify({
                    group: 'searchBlockNotification',
                    clean: true
                })
            }


        }
    }
</script>
