<template>
    <div class="row">

        <div v-if="requestWasExecuted === null">
            Some default content being shown before any request happend
        </div>

        <div v-else-if="requestWasExecuted === false">
            <span class="glyphicon glyphicon-refresh glyphicon-repeat normal-right-spinner"></span> In progress...
        </div>

        <div v-if="requestWasExecuted && !propertiesList.length">Sorry, nothing found. Try another conditions</div>

        <one-property v-if="requestWasExecuted && propertiesList.length"
                      v-for="propertyData in propertiesList"
                      :propertyData="propertyData"
                      :key="propertyData.id"></one-property>

    </div>
</template>

<script>

    import OneProperty from './OneProperty.vue';

    export default {

        components: {
            oneProperty: OneProperty
        },

        props: [
            'propertiesList',
            'requestWasExecuted'
        ],
    }
</script>
