<template>


    <div class="">
        <form>

            <!--Base attributes-->
            <div class="row form-group">
                <div class="col-lg-12">
                    <div class="input-group col-lg-12 text-center">
                        <span class="input-group-addon">Name</span>
                        <input v-model="formData.name"
                            type="text"
                            id="name"
                            class="form-control" placeholder="Name">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-12 form-group">
                    <div class="input-group">
                        <span class="input-group-addon">Price from</span>
                        <input v-model="formData.price_from"
                            type="number"
                            id="price_from"
                            class="form-control" placeholder="Price from">
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 form-group">
                    <div class="input-group">
                        <span class="input-group-addon">Price to</span>
                        <input v-model="formData.price_to"
                            type="number"
                            id="price_to"
                            class="form-control" placeholder="Price to">
                    </div>
                </div>
            </div>

            <!--Commodities-->
            <div class="row" v-if="commoditiesFields.length">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" v-model="formData.additionalFilters"> Use additional filters
                    </label>
                </div>
            </div>

            <div class="row" v-if="formData.additionalFilters && commoditiesFields.length">

                <template v-for="(item, key, index)  in commoditiesFields">

                    <div class="col-lg-3 col-md-6 col-sm-12 form-group">
                        <div class="input-group" v-if="item.type=='numeric'">
                            <span class="input-group-addon">{{ item.title }}</span>
                            <input v-model="formData.commodities[item.key]"
                                   type="number"
                                   :id="item.key"
                                   class="form-control" :placeholder="item.title">
                        </div>

                        <div class="text-danger" v-else>
                            <span class="">{{ item.type }} type input is not supported for "{{ item.title }}" field</span>
                        </div>
                    </div>

                    </template>

            </div>


            <div class="form-group row">
                <button :disabled="disableControls" class="btn btn-primary" @click.prevent="submitSearch">Search</button>
            </div>



        </form>
    </div>
</template>

<script>

    export default {
        props: [
            'formData',
            'commoditiesFields',
            'requestWasExecuted'
        ],
//        computed: {
//            commodities() {
//
//                var arr = [];
//                this.commoditiesFields.forEach(function(element) {
//
//
//                    arr[element.key] = null;
//
//                });
//                console.log(arr)
//                return arr;
//
//            }
//        },

        data(){
            return {
                disableControls: false
            }
        },

        watch : {
            requestWasExecuted() {
                if (this.requestWasExecuted === false) {
                    this.disableControls = true;
                } else {
                    this.disableControls = false;
                }
            }
        },

        methods: {
            submitSearch()
            {
                this.$emit('searchFormWasSubmitted', this.formData)
            }
        }
    }
</script>
